:root {
    --primaryColor: #122e58;
    --secondaryColor: #2e73ce;
}

header {
    background-color: var(--primaryColor);
    display: flex;
}

.linkSection {
    display: flex;
    flex-wrap: wrap;
}

.selfImg {
    margin: 10px;
    width: 20%;
    height: auto;
    border: 2px solid var(--secondaryColor);
    border-radius: 10%;
}

header h1 {
    font-family: Arial, Helvetica, sans-serif;
    white-space: nowrap;
    color: white;
    font-size: 100px;
    font-weight: bold;
}

header nav {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    justify-self: end;
}

header nav a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
    color: var(--secondaryColor);
    width: 300px;
    justify-content: space-between;
    font-size: 30px;
}

header nav a:hover {
    color: #6f95c8;
}

.heroImg {
    width: 100%;
    height: auto;
}

.bodySection {
    margin-left: 200px;
    margin-top: 50px;
    margin-right: 100px;
    border-left: 6px solid var(--secondaryColor);
}

.bodySectionHeading {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75px;
    margin-left: 20px;
}

.bodySection p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 20px;
}