:root {
    --primaryColor: #122e58;
    --secondaryColor: #1b4e91;
}

header {
    background-color: var(--primaryColor);
    display: grid;
    grid-template-columns: 350px auto;
    column-gap: 10px;
}

.selfImg {
    grid-column: 1 / 2;

    height: auto;
    width: 100%;
    border-radius: 10%;
    box-shadow: 5px 5px 5px white;
}

header h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 100px;
    font-weight: bold;
}

header nav {
    grid-column: 2/3;
    display: flex;
    margin-bottom: 20px;
    justify-self: end;
}

header nav a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
    color: white;
    width: 300px;
    justify-content: space-between;
}